<!-- templates/accounts/signup.html -->

{% extends "base.html" %}

{% block title %}회원가입{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="row w-100">
        <div class="col-md-6 mx-auto">
            <h1 class="text-center mb-4">회원가입</h1>
            <form method="POST" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">사용자 이름</label>
                    <input type="text" id="username" name="username" class="form-control" required>
                    <div class="invalid-feedback">
                        사용자 이름을 입력해주세요.
                    </div>
                    <label for="username" class="form-label">ID</label>
                    <input type="text" id="userid" name="userid" class="form-control" required>
                    <div class="invalid-feedback">
                        ID 입력해주세요.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">비밀번호</label>
                    <input type="password" id="password" name="password1" class="form-control" required>
                    <div class="invalid-feedback">
                        비밀번호를 입력해주세요.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password2" class="form-label">비밀번호 확인</label>
                    <input type="password" id="password2" name="password2" class="form-control" required>
                    <div class="invalid-feedback">
                        비밀번호 확인을 입력해주세요.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">이메일</label>
                    <input type="email" id="email" name="email" class="form-control" required>
                    <div class="invalid-feedback">
                        유효한 이메일 주소를 입력해주세요.
                    </div>
                </div>
                <button type="submit" class="btn btn-primary w-100">회원가입</button>
            </form>
            <p class="text-center mt-3">이미 계정이 있으신가요? <a href="{% url 'home' %}">로그인</a></p>
        </div>
    </div>
</div>
{% endblock %}
